[defaults]
inventory = inventory.ini
roles_path = roles
host_key_checking = True
interpreter_python = auto_silent
stdout_callback = default
callback_result_format = yaml

[ssh_connection]
pipelining = True
